{% load static %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<script src="{% static 'js/scripts.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with GPT-4</title>
</head>
<body>
    <!-- <div id="chatbox"></div> -->
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <div class="container">
        <!-- Sidebar for conversations -->
        <div class="sidebar">

            <div class="sidebar_title"> 
                <h2>Conversations</h2>
                <button id="newConversation" title="Start a new conversation" onclick="createConversation()">
                    <img src="{% static 'images/pencil_on_paper.png' %}" alt="Start New Conversation" class="pencil-image"/>
                </button>
            </div>
            
            <ul>
                {% for conversation in conversations %}
                <li class="{% if conversation.id == current_conversation_id %}active-conversation{% endif %}" id="conversation_{{ conversation.id }}">
                    <div class="conversation-content">
                        <a href="?conversation_id={{ conversation.id }}" class="conversation-title">
                            Conversation at {{ conversation.created_at|date:"SHORT_DATETIME_FORMAT" }}
                        </a>
                        <!-- Delete button -->
                        <button id="deleteConversation" onclick="deleteConversation({{ conversation.id }})" title="Delete conversation">
                            <img src="{% static 'images/delete_icon.png' %}" alt="Delete" class="delete-icon"/>
                        </button>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <!-- Main chat area -->
        <div class="chat-area">
            <header>
                <h1>Chat with GPT-4</h1>
            </header>
            {% if selected_conversation %}
                <div id="messages">
                    {% for message in selected_conversation.messages.all %}
                        <div class="{{ message.get_css_class }}">
                            <div class="sender-info {% if message.is_user_message %}user-sender{% else %}gpt4-sender{% endif %}">
                                {% if message.is_user_message %}
                                    User:
                                {% else %}
                                    GPT4:
                                {% endif %}
                            </div>
                            <div class="message-content">
                                {{ message.text }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="input-area">
                    <input type="text" id="userInput" placeholder="Type your message here..." autofocus />
                    <input type="hidden" id="conversationId" value="{{ selected_conversation.id }}">
                    <button id="sendButton" onclick="sendMessage()">Send</button>
                </div>
            {% else %}
                <p>No conversation selected.</p>
            {% endif %}
        </div>
    </div>

    <script>
        window.onload = function() {
            var messageContainer = document.getElementById('messages');
            messageContainer.scrollTop = messageContainer.scrollHeight;
        }
    </script>
    
</body>
</html>
